<p appChangeColor>Hello Test!</p>


<div class="row">
    <div class="col-xs-12">
        
        <div  class="btn-group " role="group"  appDropd>
            <button type="button" class="btn btn-primary dropdown-toggle" >Setting <span class="caret"></span></button>
            <ul class="dropdown-menu show" role="menu" >
                <li><a class="dropdown-item"  href="#">Edit Profile</a></li>
                <li><a class="dropdown-item"  href="#">Modify Bank Accounts</a></li>
                <li><a class="dropdown-item"  href="#">Modify Catogery</a></li>
            </ul>
        </div>

    </div>
</div>

<div class="btn-group open" >
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Manage
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" style="cursor: pointer"
            >To Shopping List</a></li>
      <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
      <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
    </ul>
  </div>


  