<Div class="container-fluid">
    <app-primary-header></app-primary-header>
</Div> 
    <Div class="container">
        <Div class="row">
            <div class="col-lg-3 order-lg-last  mx-3 mx-lg-0 mt-2 mt-lg-4" style="background-color:rgba(32, 178, 171, 0.596); max-height: 30rem;  " >
                <app-side-display></app-side-display>
            </div>

            <Div class="col-lg-9">
                <app-nav-tab></app-nav-tab>


            </Div>

        </Div>
    </Div>

    
  
    
    


