<Div class="container-fluid">
    <app-primary-header></app-primary-header>
</Div> 
    <Div class="container">
        <Div class="row">
            <div class="col-lg-3 order-lg-last  mx-3 mx-lg-0 mt-2 mt-lg-4" style="background-color: grey;   " >
                <app-side-display></app-side-display>
            </div>

            <Div class="col-lg-9">
                <app-nav-tab></app-nav-tab>
                <app-comman-display></app-comman-display>
                <app-entry></app-entry>
                <app-transfer></app-transfer>
                <app-others></app-others>

            </Div>

        </Div>
    </Div>
  
    
    


