
<div class="row">
    <div class="col-12 pt-3" style="background-color:rgba(29, 148, 142, 0.521);">
        <h4>Dashboard</h4>
    </div>
    <div class="col-12">
       <hr>
    </div>
    <div class="col-sm-6 col-lg-12">        
        <h5>
            <b>NET</b><br> 
            <b> Balance :</b> {{netBalance}} INR <br>
            <b>Savings :</b> {{netSavings}} INR
        </h5>
        <br>
    </div>
    <div class="col-sm-6 col-lg-12 d-none d-md-block"> 
        <h5 class="mb-1">Last Month</h5>
        <b>Income :</b> {{monthIncome}} INR
        <br>
        <b>Expense :</b> {{monthExpense}} INR
        <br>
        <b>Savings :</b> 1,15,500 INR
        <br>
        <br>
    </div>
    <div class="col-sm-6 col-lg-12 d-none d-lg-block">
        <h5 class="mb-1">Transactions</h5>
        Expense - 150 INR - 12/07/2020
        <br>
        Expense - 50 INR - 12/07/2020
        <br>
    </div>
    <div class="col-sm-6 col-lg-12 d-none d-lg-block">

        <br>
        Good Day!
        <br>
    </div>
</div>
       


  
        