
<div class="row">
    <div class="col-sm-6 col-lg-12">
        Hello<br>
        <br>
        Good Day!
        <br>
    </div>
    <div class="col-sm-6 col-lg-12 d-none d-md-block">
        
        <Br>
        Hello<br>
        <br>
        Good Day!
        <br>
    </div>
    <div class="col-sm-6 col-lg-12 d-none d-lg-block">
        
        <Br>
        Hello<br>
        <br>
        Good Day!
        <br>
    </div>
    <div class="col-sm-6 col-lg-12 d-none d-lg-block">
        
        <Br>
        Hello<br>
        <br>
        Good Day!
        <br>
    </div>
</div>
       


  
        