<form>
    
    <div class="input-group input-group-lg  mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Amount</span>
        </div>
        <input type="text" class="form-control" placeholder="0.00" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>


    <div class="input-group input-group-lg mb-3">
        <label class="input-group-text" for="inputGroupSelect01">To Acc</label>
        <select class="custom-select" id="inputGroupSelect01">
          <option *ngFor="let account of accounts" >{{ account.acc_name }}</option>
          </select>
    </div>



<div class="form-row">
<div class="input-group col-6 mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect02">Category</label>
    </div>
    <select class="custom-select" id="inputGroupSelect02">
      <option *ngFor="let generalCategory of generalCategories" >{{ generalCategory.cat_Name }}</option>
    </select>
</div>

  <div class="input-group  col-6 mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text " for="inputGroupSelect03">Type</label>
    </div>
    <select class="custom-select" id="inputGroupSelect03">
      <option *ngFor="let transCategory of transCategories" >{{ transCategory.categoryName }}</option>
    </select>
  </div>
</div>
<div class="form-group">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="gridCheck">
    <label class="form-check-label" for="gridCheck">
      Check me out
    </label>
  </div>
</div>
<button type="submit" class="btn btn-primary">Confirm</button>
</form>

